/* src/ImageCarousel.css */
.image-carousel {
  width: 80%;
  margin: auto;
  padding: 2em 0;
}

.slide-container {
  text-align: center;
}

.image-container {
  padding: 0 10px;
}

.image-container img {
  width: 100%;
  border-radius: 10px;
}

.image-text {
  margin-top: 10px;
  font-size: 1em;
  color: white; /* Change text color to white */
  text-align: center; /* Center align the text */
}
